---
---

@import "{{ site.theme }}";

iframe {
  display:block;
  width:100%;
  aspect-ratio: 1.5;
}

.posterpadded {
  padding: 10px, 40px, 10px, 0px;
}

@font-face {
  font-family: "TacticSans";
  src: url("../fonts/TacticSans-Reg.otf");
}

@font-face {
  font-family: "KenyanCoffee";
  src: url("../fonts/kenyan coffee rg.otf");
}

header {
  font-family: "TacticSans";
}

header h1 {
  font-family: "KenyanCoffee";
}

#main-content h1 {
  font-family: "KenyanCoffee";
}

#main-content h2 {
  font-family: "TacticSans";
}

#main-content h3 {
  font-family: "TacticSans";
}

#main-content h4 {
  font-family: "TacticSans";
}

#main-content h5 {
  font-family: "TacticSans";
}

#main-content h6 {
  font-family: "TacticSans";
}

#main-content h1:before { content:none; }
#main-content h2:before { content:none; }
#main-content h3:before { content:none; }
#main-content h4:before { content:none; }
#main-content h5:before { content:none; }
#main-content h6:before { content:none; }
