---
---

@import "{{ site.theme }}";

iframe {
  display:block;
  width:100%;
  aspect-ratio: 1.25;
}

#season-container {
  max-width: 940;
  margin-bottom: 30px;
  box-shadow: 0px 0px 20px #000;
}

.image-with-text-right {
  float: right;
  margin: 0px 0px 0px 10px;
  text-align: center;
  font-size: 12px;
}

.image-with-text-left {
  float: left;
  margin: 0px 10px 0px 0px;
  text-align: center;
  font-size: 12px;
}

@font-face {
  font-family: "TacticSans";
  src: url("../fonts/TacticSans-Reg.otf");
}

@font-face {
  font-family: "KenyanCoffee";
  src: url("../fonts/kenyan coffee rg.otf");
}

body {
  color: #EDEBE9;
  background: #201F1E url(../images/body.jpg) 0 0 repeat;
}

a {
  color: #dd1d1d;
}

header {
  font-family: "TacticSans";
  background: #FF2400 url(../images/header.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #fff;
}

header h1 {
  font-family: "KenyanCoffee";
  width: auto;
  text-align: center;
}

header h2 {
  color: #fff;
  width: auto;
  text-align: center;
}

#main-content h1 {
  font-family: "KenyanCoffee";
  color: #EDEBE9;
}

#main-content h2 {
  font-family: "TacticSans";
  color: #EDEBE9;
}

#main-content h3 {
  font-family: "TacticSans";
  color: #EDEBE9;
}

#main-content h4 {
  font-family: "TacticSans";
  color: #EDEBE9;
}

#main-content h5 {
  font-family: "TacticSans";
  color: #EDEBE9;
}

#main-content h6 {
  font-family: "TacticSans";
  color: #EDEBE9;
}

#main-content h1:before { content:none; }
#main-content h2:before { content:none; }
#main-content h3:before { content:none; }
#main-content h4:before { content:none; }
#main-content h5:before { content:none; }
#main-content h6:before { content:none; }

table {
  border: 1px solid #797775;
  background-color: #3F3D3B;
}

th {
  font-weight: 400;
}

td, th {
  padding: 10px;
}

td {
  border: 1px solid #797775;
}

tbody tr:nth-child(odd) {
  background-color: #33312F;
}

#content-wrapper {
  border-top: solid 1px #fff;
}

aside#sidebar {
  background: transparent url(../images/sidebar.jpg) 0 0 no-repeat;
  min-height: 100px;
}

aside#sidebar h2 {
  font-family: "TacticSans";
}

aside#sidebar h3 {
  font-family: "TacticSans";
}

aside#sidebar h4:before {
  content:none;
}
