<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <link href="https://vjs.zencdn.net/8.3.0/video-js.min.css" rel="stylesheet">
    <link href=" https://cdn.jsdelivr.net/npm/videojs-playlist-ui@5.0.0/dist/videojs-playlist-ui.min.css " rel="stylesheet">
    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>MARVEL: UNITE</h1>
        </a>
        <h2>An unofficial MCU fan edit by ducko.</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <div id="main-player-container">
          <video
            id="video"
            class="video-js vjs-fluid"
            controls
            data-setup={}
            preload="metadata">
          </video>
          
          <div class="vjs-playlist"></div>
        </div>

        <script src="https://vjs.zencdn.net/8.3.0/video.min.js"></script>
        <script src=" https://cdn.jsdelivr.net/npm/videojs-playlist@5.1.0/dist/videojs-playlist.min.js "></script>
        <script src=" https://cdn.jsdelivr.net/npm/videojs-playlist-ui@5.0.0/dist/videojs-playlist-ui.min.js "></script>
        
        <script>
          var player = videojs('video');

          player.playlist([{
            name: '1 - Recruitment',
            duration: 4504,
            sources: [
              { src: '../assets/hls/s1/S01E01.m3u8', type: 'application/x-mpegURL' }
            ],
            textTracks: [
              {
                kind: 'subtitles',
                label: 'English',
                src: '../assets/vtt/s1/S01E01.en.vtt',
                default: true
              }
            ],
            thumbnail: [{ src: '../assets/thumb/S01E01-low.jpg' }],
            poster: '../assets/thumb/S01E01.jpg'
          },
          {
            name: '2 - Where Did He Come From?',
            duration: 3160,
            sources: [
              { src: '../assets/hls/s1/S01E02.m3u8', type: 'application/x-mpegURL' }
            ],
            textTracks: [
              {
                kind: 'subtitles',
                label: 'English',
                src: '../assets/vtt/s1/S01E02.en.vtt',
                default: true
              }
            ],
            thumbnail: [{ src: '../assets/thumb/S01E02-low.jpg' }],
            poster: '../assets/thumb/S01E02.jpg'
          },
          {
            name: '3 - A Box of Scraps',
            duration: 3160,
            sources: [
              { src: '../assets/hls/s1/S01E03.m3u8', type: 'application/x-mpegURL' }
            ],
            textTracks: [
              {
                kind: 'subtitles',
                label: 'English',
                src: '../assets/vtt/s1/S01E03.en.vtt',
                default: true
              }
            ],
            thumbnail: [{ src: '../assets/thumb/S01E03-low.jpg' }],
            poster: '../assets/thumb/S01E03.jpg'
          },
          {
            name: '4 - Unworthy',
            duration: 3160,
            sources: [
              { src: '../assets/hls/s1/S01E04.m3u8', type: 'application/x-mpegURL' }
            ],
            textTracks: [
              {
                kind: 'subtitles',
                label: 'English',
                src: '../assets/vtt/s1/S01E04.en.vtt',
                default: true
              }
            ],
            thumbnail: [{ src: '../assets/thumb/S01E04-low.jpg' }],
            poster: '../assets/thumb/S01E04.jpg'
          },
          {
            name: '5 - I Am Iron Man',
            duration: 3160,
            sources: [
              { src: '../assets/hls/s1/S01E05.m3u8', type: 'application/x-mpegURL' }
            ],
            textTracks: [
              {
                kind: 'subtitles',
                label: 'English',
                src: '../assets/vtt/s1/S01E05.en.vtt',
                default: true
              }
            ],
            thumbnail: [{ src: '../assets/thumb/S01E05-low.jpg' }],
            poster: '../assets/thumb/S01E05.jpg'
          }]);

          player.playlistUi({ horizontal: true, playOnSelect: true });
        </script>
        
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          <a href="/marvel-unite/"><h2>About</h2></a>
          <a href="/marvel-unite/faq/"><h2>FAQ/Contact</h2></a>
          <a href="/marvel-unite/downloads/"><h2>Downloads</h2></a>
          <hr>
          <h3>Watch Online</h2>
          <a href="/marvel-unite/season-1/"><h2>Season 1</h2></a>
          <h2>Season 2 <i>(coming soon)</i></h2>
        </aside>
      </div>
    </div>
  </body>
</html>
